{% extends 'base.html' %}

{% block title %}Planos{% endblock %}

{% block content %}
<div class="planos-container">
    <h1>Escolha o Plano</h1>
    <div class="planos">
        <div class="plano-box">
            <h2>Plano Diário</h2>
            <p>Acesso por 1 dia.</p>
            <button>Selecionar</button>
        </div>
        <div class="plano-box">
            <h2>Plano Semanal</h2>
            <p>Acesso por 7 dias.</p>
            <button>Selecionar</button>
        </div>
        <div class="plano-box">
            <h2>Plano Mensal</h2>
            <p>Acesso por 30 dias.</p>
            <button>Selecionar</button>
        </div>
    </div>
</div>
{% endblock %}
