{% extends 'base.html' %}

{% block title %}Tag{% endblock %}

{% block content %}
<div class="tag-container">
    <h1>Tag de Estacionamento</h1>
    <p>A tag de carro é essencial para identificar veículos autorizados a estacionar na faculdade para garantir a segurança e organização no estacionamento.</p>

    <h2>Como funciona a tag Minha Vaga?</h2>
    <div class="steps">
        <div class="step">
            <h3>Peça online</h3>
            <p>Receba onde escolher. Até 3 dias úteis nos estados de SP, RJ e MG.</p>
        </div>
        <div class="step">
            <h3>Acompanhe seu pedido</h3>
            <p>Acompanhe seu pedido e, ao receber sua tag, garanta que ela esteja ativa e com saldo.</p>
        </div>
        <div class="step">
            <h3>Cole e use</h3>
            <p>Adesivo ativo e com saldo? Cole conforme instruções e já está pronto para uso!</p>
        </div>
    </div>
</div>
{% endblock %}
